# Datasets processing
### P. Manrique March 7, 2024

Import libraries:

In [2]:
import pandas as pd
import os

MYPATH = os.path.abspath('')

Load datasets:

In [3]:
filename_2mb = '2ndSCmultibitSDM_DataSet_longrun3.csv'
df_2mb = pd.read_csv(filename_2mb)

filename_2sb = '2ndSCSDM_DataSet_longrun3.csv'
df_2sb = pd.read_csv(filename_2sb)

filename_21 = '3or21CascadeSDM_DataSet_longrun3.csv'
df_21 = pd.read_csv(filename_21)

filename_211 = '211CascadeSDM_DataSet_longrun2.csv'
df_211 = pd.read_csv(filename_211)

filename_2gm = 'GmC2ndCTSDM_DataSet_longrun3.csv'
df_gm = pd.read_csv(filename_2gm)

In [4]:
df_2sb[:5]

,SNR,Bw,Power,OSR,fs,Adc,gm,Io,Vn
0,48.094908,10000.0,0.000280,32,640000.0,161.020427,0.000365,0.000133,1.114593e-11
1,67.570954,10000.0,0.001084,64,1280000.0,23.460603,0.000099,0.000516,1.079970e-11
2,84.315860,10000.0,0.000771,128,2560000.0,134.365972,0.000461,0.000367,2.019491e-10
3,47.486793,10000.0,0.000685,256,5120000.0,144.235392,0.000016,0.000326,4.185074e-10
4,63.058200,10000.0,0.001995,512,10240000.0,810.893153,0.000036,0.000950,7.335309e-11

In [5]:
df_2mb[:5]

,SNR,Bw,Power,OSR,fs,Adc,gm,Io,Vn
0,54.348814,10000.0,0.015708,32,640000.0,322.243915,0.000323,0.005818,3.146330e-09
1,73.689845,10000.0,0.005931,64,1280000.0,212.018156,0.000266,0.002197,4.287506e-09
2,88.470735,10000.0,0.012985,128,2560000.0,109.260128,0.000240,0.004809,1.486320e-11
3,102.205408,10000.0,0.001012,256,5120000.0,216.082898,0.000617,0.000375,9.336621e-10
4,-105.368026,10000.0,0.005403,512,10240000.0,83.138590,0.000010,0.002001,9.446077e-09

In [6]:
df_gm[:5]

,SNR,BW,Power,OSR,fs,fin,gm11,gm12,C1,C2,...,GBW1,GBW2,Cp1,Cp2,IIP3_in,IIP3_12,IIP3_a,IIP3_b,IIP3_c,gm
0,54.562282,10000.0,0.005674,32,640000.0,3292.682989,0.000641,0.000641,4.006811e-09,4.006811e-09,...,5.862405e+04,33168.087156,1.740457e-09,3.076228e-09,0.152823,0.152823,0.152823,0.152823,0.152823,0.000641
1,70.276359,10000.0,0.001857,64,1280000.0,3292.682989,0.000210,0.000210,6.557025e-10,6.557025e-10,...,3.231197e+05,182813.419636,1.033507e-10,1.826707e-10,0.003201,0.003201,0.003201,0.003201,0.003201,0.000210
2,81.175288,10000.0,0.000981,128,2560000.0,3292.682989,0.000111,0.000111,1.732295e-10,1.732295e-10,...,4.749986e+05,268742.869847,3.714751e-11,6.565762e-11,2.286455,2.286455,2.286455,2.286455,2.286455,0.000111
3,68.840821,10000.0,0.001441,256,5120000.0,3292.682989,0.000163,0.000163,1.272176e-10,1.272176e-10,...,4.543554e+05,257063.446040,5.704027e-11,1.008177e-10,0.038881,0.038881,0.038881,0.038881,0.038881,0.000163
4,49.724234,10000.0,0.064706,512,10240000.0,3292.682989,0.007311,0.007311,2.855999e-09,2.855999e-09,...,1.229774e+06,695776.717996,9.462217e-10,1.672431e-09,0.004492,0.004492,0.004492,0.004492,0.004492,0.007311

In [7]:
df_21[:5]

,SNR,Bw,Power,OSR,Adc1,gm1,Io1,Adc2,gm2,Io2,fs
0,64.341454,10000.0,0.002224,32,152.531501,0.000848,0.001502,100.0,0.000174,0.000308,640000.0
1,87.747965,10000.0,0.000326,64,122.641098,0.000170,0.000111,100.0,0.000100,0.000100,1280000.0
2,101.996869,10000.0,0.001823,128,390.578400,0.000155,0.001231,100.0,0.000100,0.000253,2560000.0
3,21.675175,10000.0,0.000332,256,424.822366,0.003860,0.000116,100.0,0.000792,0.000100,5120000.0
4,95.030980,10000.0,0.000604,512,129.749792,0.000184,0.000375,100.0,0.000100,0.000100,10240000.0

In [8]:
df_211[:5]

,SNR,Bw,Power,OSR,fs,Adc1,gm1,Io1,Adc2,gm2,Io2,Adc3,gm3,Io3,Adc4,gm4,Io4
0,119.774698,10000.0,0.000630,4,80000.0,525.407468,0.002375,0.000195,432.774699,0.001957,0.000160,300.023404,0.001356,0.000111,160.694123,0.000727,0.000100
1,97.606007,10000.0,0.000562,8,160000.0,192.795420,0.004163,0.000176,137.069397,0.002960,0.000125,114.637571,0.002475,0.000105,100.000000,0.001586,0.000100
2,59.132231,10000.0,0.001083,16,320000.0,134.185476,0.002705,0.000310,117.999918,0.002379,0.000272,100.000000,0.001950,0.000223,100.000000,0.001466,0.000168
3,-104.430750,10000.0,0.000522,32,640000.0,184.344239,0.000105,0.000169,100.000000,0.000100,0.000100,100.000000,0.000100,0.000100,100.000000,0.000100,0.000100
4,-106.899119,10000.0,0.002417,64,1280000.0,404.179141,0.001298,0.000732,276.893765,0.000889,0.000502,265.788186,0.000853,0.000481,252.312746,0.000810,0.000457

Filtering by SNR:

In [9]:
idx = (df_21['SNR'] > 50) & (df_21['SNR'] < 150)
df1 = df_21[idx]
df1

,SNR,Bw,Power,OSR,Adc1,gm1,Io1,Adc2,gm2,Io2,fs
0,64.341454,1.000000e+04,0.002224,32,152.531501,0.000848,0.001502,100.000000,0.000174,0.000308,6.400000e+05
1,87.747965,1.000000e+04,0.000326,64,122.641098,0.000170,0.000111,100.000000,0.000100,0.000100,1.280000e+06
2,101.996869,1.000000e+04,0.001823,128,390.578400,0.000155,0.001231,100.000000,0.000100,0.000253,2.560000e+06
4,95.030980,1.000000e+04,0.000604,512,129.749792,0.000184,0.000375,100.000000,0.000100,0.000100,1.024000e+07
5,64.512674,1.000507e+04,0.012359,32,474.491292,0.000514,0.008344,100.000000,0.000106,0.001713,6.403244e+05
...,...,...,...,...,...,...,...,...,...,...,...
45033,57.552606,1.335257e+06,0.013641,32,873.093047,0.009584,0.009210,179.239565,0.001968,0.001891,8.545645e+07
45093,51.288784,1.348859e+06,0.012709,32,209.794726,0.007690,0.008581,100.000000,0.001579,0.001762,8.632698e+07
45205,51.858505,1.374389e+06,0.012381,64,652.997811,0.008033,0.008360,134.055636,0.001649,0.001716,1.759218e+08
45246,51.269970,1.384174e+06,0.008019,32,676.470000,0.008022,0.005414,138.874303,0.001647,0.001111,8.858716e+07
45765,51.133296,1.511003e+06,0.009367,32,155.182158,0.008708,0.006325,100.000000,0.001788,0.001298,9.670417e+07

In [10]:
def filter_snr(df):
    snr = df['SNR']
    idx = (50 < snr) & (snr < 150)
    dff = df[idx]
    return dff

In [11]:
dff_2sb = filter_snr(df_2sb)
dff_2mb = filter_snr(df_2mb)
dff_gm = filter_snr(df_gm)
dff_21 = filter_snr(df_21)
dff_211 = filter_snr(df_211)

In [12]:
dataframes = [dff_2sb, dff_2mb, dff_gm, dff_21, dff_211]
old_dataframes = [df_2sb, df_2mb, df_gm, df_21, df_211]
i = 0
for df in dataframes:
    snr = df['SNR']
    print(min(snr),max(snr), 'Surviving points: ', len(snr), 'of', len(old_dataframes[i]), ', ', 100*(len(snr)/len(old_dataframes[i])), '%')
    i += 1

50.0047403873292 122.149839582913 Surviving points:  8422 of 50418 ,  16.70435162045301 %
50.0012968800443 119.25373542089 Surviving points:  14250 of 50418 ,  28.26371533975961 %
50.000161538201 84.5262976522859 Surviving points:  58212 of 65090 ,  89.43309264095868 %
50.0082988325457 126.682730534228 Surviving points:  20471 of 50418 ,  40.60256257685747 %
50.9303869938289 149.98625030092 Surviving points:  42454 of 68430 ,  62.040040917726145 %

In [13]:
for df in dataframes:
    df.drop('fs',axis=1,inplace=True)

C:\Users\pablo\AppData\Local\Temp\ipykernel_4800\2112160409.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop('fs',axis=1,inplace=True)
C:\Users\pablo\AppData\Local\Temp\ipykernel_4800\2112160409.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop('fs',axis=1,inplace=True)
C:\Users\pablo\AppData\Local\Temp\ipykernel_4800\2112160409.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop('fs',axis=1,inplace=True)
C:\Users\pablo\AppData\Local\Temp\ipykernel_4800\2112160409.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop('fs',axis=1,inplace=True)
C:\Users\pablo\AppData\Local\Temp\ipykernel_4800\2112160409.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop('fs',axis=1,inplace=True)

In [14]:
dff_21[:5]

,SNR,Bw,Power,OSR,Adc1,gm1,Io1,Adc2,gm2,Io2
0,64.341454,10000.00000,0.002224,32,152.531501,0.000848,0.001502,100.0,0.000174,0.000308
1,87.747965,10000.00000,0.000326,64,122.641098,0.000170,0.000111,100.0,0.000100,0.000100
2,101.996869,10000.00000,0.001823,128,390.578400,0.000155,0.001231,100.0,0.000100,0.000253
4,95.030980,10000.00000,0.000604,512,129.749792,0.000184,0.000375,100.0,0.000100,0.000100
5,64.512674,10005.06889,0.012359,32,474.491292,0.000514,0.008344,100.0,0.000106,0.001713

Saving filtered datasets:

In [18]:
names = ['2ndSCSDM_SingleBit','2ndSCSDM_MultiBit','2ndGmCSDM','3rd21SCSDM','4th211SCSDM']
i = 0
for i in range(5):
    df = dataframes[i]
    df_name = names[i]
    df_path = str(MYPATH + '\\FinalDataSets\\dataset_' + df_name + '.csv')
    df.to_csv(df_path, index=False)
    i += 1

Total dataset for classifiers

specs = ['SNR','Bw','Power']